
/*==================button================================*/
.btn-blue {
  color: #fff;
  background-color: #1B9AF7;
  border-color: #1B9AF7;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0280dc;
  border-color: #0168b3;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #1B9AF7;
  border-color: #1B9AF7;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #0168b3;
  border-color: #005cbf;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-darkgrey {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-darkgrey:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-darkgrey:focus, .btn-darkgrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-darkgrey.disabled, .btn-darkgrey:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-darkgrey:not(:disabled):not(.disabled):active, .btn-darkgrey:not(:disabled):not(.disabled).active,
.show > .btn-darkgrey.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-darkgrey:not(:disabled):not(.disabled):active:focus, .btn-darkgrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-darkgrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-green {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-green:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-green:focus, .btn-green.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-cyan {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-cyan:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-cyan:focus, .btn-cyan.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-cyan.disabled, .btn-cyan:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-cyan:not(:disabled):not(.disabled):active, .btn-cyan:not(:disabled):not(.disabled).active,
.show > .btn-cyan.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-cyan:not(:disabled):not(.disabled):active:focus, .btn-cyan:not(:disabled):not(.disabled).active:focus,
.show > .btn-cyan.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-violet {
  color: #fff;
  background-color: #6f65ee;
  border-color: #6f65ee;
}

.btn-violet:hover {
  color: #fff;
  background-color: #5c52e2;
  border-color: #584ed9;
}

.btn-violet:focus, .btn-violet.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-violet.disabled, .btn-violet:disabled {
  color: #fff;
  background-color: #6f65ee;
  border-color: #6f65ee;
}

.btn-violet:not(:disabled):not(.disabled):active, .btn-violet:not(:disabled):not(.disabled).active,
.show > .btn-violet.dropdown-toggle {
  color: #fff;
  background-color: #584ed9;
  border-color: #10707f;
}

.btn-violet:not(:disabled):not(.disabled):active:focus, .btn-violet:not(:disabled):not(.disabled).active:focus,
.show > .btn-violet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-pinkpurple {
  color: #fff;
  background-color: #9d1cf7;
  border-color: #9d1cf7;
}

.btn-pinkpurple:hover {
  color: #fff;
  background-color: #9619ee;
  border-color: #8d17e0;
}

.btn-pinkpurple:focus, .btn-pinkpurple.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-pinkpurple.disabled, .btn-pinkpurple:disabled {
  color: #fff;
  background-color: #9d1cf7;
  border-color: #9d1cf7;
}

.btn-pinkpurple:not(:disabled):not(.disabled):active, .btn-pinkpurple:not(:disabled):not(.disabled).active,
.show > .btn-pinkpurple.dropdown-toggle {
  color: #fff;
  background-color: #8d17e0;
  border-color: #10707f;
}

.btn-pinkpurple:not(:disabled):not(.disabled):active:focus, .btn-pinkpurple:not(:disabled):not(.disabled).active:focus,
.show > .btn-pinkpurple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-orange {
  color: #FFF;
  background-color: #FF9800;
  border-color: #FF9800;
}

.btn-orange:hover {
  color: #FFF;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-orange:focus, .btn-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
  color: #212529;
  background-color: #FF9800;
  border-color: #FF9800;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-red {
  color: #fff;
  background-color: #e2081d;
  border-color: #e2081d;
}

.btn-red:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-red:focus, .btn-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-red.disabled, .btn-red:disabled {
  color: #fff;
  background-color: #e2081d;
  border-color: #e2081d;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
.show > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-lightgrey {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.btn-lightgrey:hover {
  color: #212529;
  background-color: #cdcdcd;
  border-color: #dae0e5;
}

.btn-lightgrey:focus, .btn-lightgrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-lightgrey.disabled, .btn-lightgrey:disabled {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.btn-lightgrey:not(:disabled):not(.disabled):active, .btn-lightgrey:not(:disabled):not(.disabled).active,
.show > .btn-lightgrey.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-lightgrey:not(:disabled):not(.disabled):active:focus, .btn-lightgrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-lightgrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-white {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-white:hover {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-white.disabled, .btn-white:disabled {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
  color: #000;
  background-color: #FFF;
  border-color: #d3d9df;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-whitegrey {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-whitegrey:hover {
  color: #000;
  background-color: #e2e6ea;
  border-color: #FFF;
}

.btn-whitegrey:focus, .btn-whitegrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-whitegrey.disabled, .btn-whitegrey:disabled {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-whitegrey:not(:disabled):not(.disabled):active, .btn-whitegrey:not(:disabled):not(.disabled).active,
.show > .btn-whitegrey.dropdown-toggle {
  color: #000;
  background-color: #FFF;
  border-color: #d3d9df;
}

.btn-whitegrey:not(:disabled):not(.disabled):active:focus, .btn-whitegrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-whitegrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-outline-blue {
  color: #1B9AF7;
  border-color: #1B9AF7;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #1B9AF7;
  border-color: #1B9AF7;
}

.btn-outline-blue:focus, .btn-outline-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-blue.disabled, .btn-outline-blue:disabled {
  color: #1B9AF7;
  background-color: transparent;
}

.btn-outline-blue:not(:disabled):not(.disabled):active, .btn-outline-blue:not(:disabled):not(.disabled).active,
.show > .btn-outline-blue.dropdown-toggle {
  color: #fff;
  background-color: #1B9AF7;
  border-color: #1B9AF7;
}

.btn-outline-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-darkgrey {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-darkgrey:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-darkgrey:focus, .btn-outline-darkgrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-darkgrey.disabled, .btn-outline-darkgrey:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-darkgrey:not(:disabled):not(.disabled):active, .btn-outline-darkgrey:not(:disabled):not(.disabled).active,
.show > .btn-outline-darkgrey.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-darkgrey:not(:disabled):not(.disabled):active:focus, .btn-outline-darkgrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-darkgrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-green {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-green:focus, .btn-outline-green.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-green.disabled, .btn-outline-green:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-green:not(:disabled):not(.disabled):active, .btn-outline-green:not(:disabled):not(.disabled).active,
.show > .btn-outline-green.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-green:not(:disabled):not(.disabled):active:focus, .btn-outline-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-cyan {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-cyan:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-cyan:focus, .btn-outline-cyan.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-cyan.disabled, .btn-outline-cyan:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active, .btn-outline-cyan:not(:disabled):not(.disabled).active,
.show > .btn-outline-cyan.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active:focus, .btn-outline-cyan:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-cyan.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-violet {
  color: #6f65ee;
  border-color: #6f65ee;
}

.btn-outline-violet:hover {
  color: #fff;
  background-color: #6f65ee;
  border-color: #6f65ee;
}

.btn-outline-violet:focus, .btn-outline-violet.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-violet.disabled, .btn-outline-violet:disabled {
  color: #6f65ee;
  background-color: transparent;
}

.btn-outline-violet:not(:disabled):not(.disabled):active, .btn-outline-violet:not(:disabled):not(.disabled).active,
.show > .btn-outline-violet.dropdown-toggle {
  color: #fff;
  background-color: #6f65ee;
  border-color: #6f65ee;
}

.btn-outline-violet:not(:disabled):not(.disabled):active:focus, .btn-outline-violet:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-violet.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-pinkpurple {
  color: #9d1cf7;
  border-color: #9d1cf7;
}

.btn-outline-pinkpurple:hover {
  color: #fff;
  background-color: #9d1cf7;
  border-color: #9d1cf7;
}

.btn-outline-pinkpurple:focus, .btn-outline-pinkpurple.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-pinkpurple.disabled, .btn-outline-pinkpurple:disabled {
  color: #9d1cf7;
  background-color: transparent;
}

.btn-outline-pinkpurple:not(:disabled):not(.disabled):active, .btn-outline-pinkpurple:not(:disabled):not(.disabled).active,
.show > .btn-outline-pinkpurple.dropdown-toggle {
  color: #fff;
  background-color: #9d1cf7;
  border-color: #9d1cf7;
}

.btn-outline-pinkpurple:not(:disabled):not(.disabled):active:focus, .btn-outline-pinkpurple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pinkpurple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-orange {
  color: #FF9800;
  border-color: #FF9800;
}

.btn-outline-orange:hover {
  color: #212529;
  background-color: #FF9800;
  border-color: #FF9800;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color: #FF9800;
  background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #212529;
  background-color: #FF9800;
  border-color: #FF9800;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-red {
  color: #e2081d;
  border-color: #e2081d;
}

.btn-outline-red:hover {
  color: #fff;
  background-color: #e2081d;
  border-color: #e2081d;
}

.btn-outline-red:focus, .btn-outline-red.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-red.disabled, .btn-outline-red:disabled {
  color: #e2081d;
  background-color: transparent;
}

.btn-outline-red:not(:disabled):not(.disabled):active, .btn-outline-red:not(:disabled):not(.disabled).active,
.show > .btn-outline-red.dropdown-toggle {
  color: #fff;
  background-color: #e2081d;
  border-color: #e2081d;
}

.btn-outline-red:not(:disabled):not(.disabled):active:focus, .btn-outline-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-lightgrey {
  color: #e3e3e3;
  border-color: #e3e3e3;
}

.btn-outline-lightgrey:hover {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.btn-outline-lightgrey:focus, .btn-outline-lightgrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-lightgrey.disabled, .btn-outline-lightgrey:disabled {
  color: #e3e3e3;
  background-color: transparent;
}

.btn-outline-lightgrey:not(:disabled):not(.disabled):active, .btn-outline-lightgrey:not(:disabled):not(.disabled).active,
.show > .btn-outline-lightgrey.dropdown-toggle {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.btn-outline-lightgrey:not(:disabled):not(.disabled):active:focus, .btn-outline-lightgrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-lightgrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}


.btn-outline-white {
  color: #FFF;
  border-color: #FFF;
}

.btn-outline-white:hover {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-outline-white:focus, .btn-outline-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: #FFF;
  background-color: transparent;
}

.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.btn-outline-white:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn-outline-whitegrey {
  color: #343a40;
  border-color: #e2e6ea;
}

.btn-outline-whitegrey:hover {
  color: #fff;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}

.btn-outline-whitegrey:focus, .btn-outline-whitegrey.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-whitegrey.disabled, .btn-outline-whitegrey:disabled {
  color: #e2e6ea;
  background-color: transparent;
}

.btn-outline-whitegrey:not(:disabled):not(.disabled):active, .btn-outline-whitegrey:not(:disabled):not(.disabled).active,
.show > .btn-outline-whitegrey.dropdown-toggle {
  color: #fff;
  background-color: #e2e6ea;
  border-color: #343a40;
}

.btn-outline-whitegrey:not(:disabled):not(.disabled):active:focus, .btn-outline-whitegrey:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-whitegrey.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
/*==================button================================*/
